body {
    width: 100%;
}

.Section1 {
    display: flex;
    background-image: url("../../src/HomeImages/HeroAfbeelding.png");
    height: 540px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.Section1 h1 {
    color: white;
    font-weight: 900;
    width: 100%;
    font-size: 3vw;
}

.Logo {
    width: 100%;
    height: 100%;
}

.LogoDiv {
    width: 15rem;
    background-color: white;
    border-radius: 10px;

}

.Section2 {
    width: 100%;
    background-color: white;
    text-align: center;

}

.button {
    /* transform: translateY(150px); */
    width: 90%;
    height: 50px;
    color: black;
    background-color: #F39A05;
    border-radius: 10px;
    border: 0px;
    font-weight: 900;
    transition: all 100ms;
}

.button:hover {
    background-color: white;
    color: #F39A05;
    border-radius: 5px;
    border: 0px;
}

.buttonB {
    /* transform: translateY(150px); */
    width: 90%;
    height: 50px;
    color: black;
    background-color: #F39A05;
    border-radius: 10px;

    border: 0px;
    font-weight: 900;
    transition: all 100ms;
}

.buttonB:hover {
    background-color: white;
    color: #F39A05;
    border-radius: 5px;

    border: solid;
    border-color: #F39A05;
    border-block: none;
}

.Icoon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.Section3 {
    background-image: url("../../src/HomeImages/Achtergrond_image_laag.png");
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.Section3 h2 {
    color: #F39A05;
    font-weight: 800;
}

.Section3 p {
    color: white;
    font-weight: 500;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.Section4 {
    display: flex;
    flex-wrap: wrap;

    height: fit-content;
    width: 100%;

    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white; /*#1F0F0F;*/
}

.ContentAside {
    background-color: white;
    color: white;
    max-width: 70vw;
    width: calc(3000px - 200vw);
    min-width: 35vw;
    height: fit-content;
    border-radius: 10px;
    border: 10px;
    border-style: solid;
    border-color: #F39A05;
}

.ContentText {
    width: 400px;
    padding: 24px;
}

.ContentAside img {
    width: 100%;
}

.V2 {
    transform: translateY(0px);
    width: 200px;
}

@media screen and (max-width: 500px) {
    .Section3 {
        background-image: url("../../src/HomeImages/Achtergrond_image_laag.png");
        height: auto;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .Section3 p {
        color: white;
        font-weight: 500;
        width: 100%;
        padding-bottom: 5%;

    }

    .V2 {
        width: 60%;
    }

    .Section1 {
        display: inline-block;
        height: 300px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .Section1 h1 {
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 6vw;
        margin-top: 20px;
    }

    .LogoDiv {
        width: 8rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 20px;

    }
}